.ant-menu-item {
  gap: 16px;
  padding-left: 24px !important;
  border-radius: 0 !important;
  //   &:hover {
  //     background: $text-gray-850 !important;
  //   }
}
// .ant-menu-item.ant-menu-item-selected svg {
//   stroke: $text-white-400 !important;
// }
.ant-menu-item-divider {
  margin-block: 5px !important;
}
